@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

.custom-sidebar-item {
  font-size: 0.875rem; /* Giảm kích thước font */
  padding-left: 0.5rem; /* Giảm khoảng cách bên trái */
  padding-right: 0.5rem; /* Giảm khoảng cách bên phải */
  margin-left: -0.75rem; /* Điều chỉnh khoảng cách icon */
  margin-right: -0.75rem;
}

.logo > img {
  height: auto;
}